/* Cards */
.postcard {
  flex-wrap: wrap;
  display: flex;
  box-shadow: 0 4px 21px -12px rgba(0, 0, 0, 0.66);
  border-radius: 10px;
  margin: 0 0 2rem 0;
  overflow: hidden;
  position: relative;
  background-color: white;
}
.postcard__img {
  max-height: 180px;
  width: 100%;
  object-fit: cover;
  position: relative;
}
.postcard__img_link {
  display: contents;
}
.postcard__text {
  padding: 1.5rem;
  position: relative;
  display: flex;
  flex-direction: column;
}
.postcard__preview-txt {
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: justify;
  height: 100%;
}
.postcard__tagbox {
  display: flex;
  flex-flow: row wrap;
  font-size: 14px;
  margin: 20px 0 0 0;
  padding: 0;
  justify-content: center;
}
.postcard__tagbox .tag__item {
  display: inline-block;
  background: rgba(83, 83, 83, 0.4);
  border-radius: 3px;
  padding: 2.5px 10px;
  margin: 0 5px 5px 0;
  transition: background-color 0.3s;
}
.postcard__tagbox .tag__item:hover {
  background: rgba(83, 83, 83, 0.8);
}
.postcard:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(-70deg, var(--background), transparent 50%);
  opacity: 1;
  border-radius: 10px;
}

@media screen and (min-width: 769px) {
  .postcard {
    flex-wrap: inherit;
  }
  .postcard__title {
    font-size: 2rem;
  }
  .postcard__tagbox {
    justify-content: start;
  }
  .postcard__img {
    max-width: 300px;
    max-height: 100%;
    transition: transform 0.3s ease;
  }
  .postcard__text {
    padding: 3rem;
    width: 100%;
  }
  .media.postcard__text:before {
    content: "";
    position: absolute;
    display: block;
    /* background: #18151f; */
    top: -20%;
    height: 130%;
    width: 55px;
  }
  .postcard:hover .postcard__img {
    transform: scale(1.1);
  }
  .postcard:nth-child(2n+1) {
    flex-direction: row;
  }
  .postcard:nth-child(2n+0) {
    flex-direction: row-reverse;
  }
  .postcard:nth-child(2n+1) .postcard__text::before {
    left: -12px !important;
    transform: rotate(4deg);
  }
  .postcard:nth-child(2n+0) .postcard__text::before {
    right: -12px !important;
    transform: rotate(-4deg);
  }
}
@media screen and (min-width: 1024px) {
  .postcard__text {
    padding: 2rem 3.5rem;
  }

  .postcard__text:before {
    content: "";
    position: absolute;
    display: block;
    top: -20%;
    height: 130%;
    width: 55px;
  }
}


/* end of experiment! */

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Karla', sans-serif;
}

:root {
    --background: #efedea;
    --icon-green: #aac2aa;
    --icon-blue: #90A8A6;
    --icon-pink: #caa0a1;
    --icon-orange: #cbaa9e;
}

.background {
    background-color: var(--background);
}

/* .background-image {
    background: url(/img/gill.jpg);
    background-repeat: no-repeat;
    position: relative;
    background-position: center;
    background-size: cover;
} */

/* for header, projects sections */
.op-city9 {
    opacity: .9;
}

/* for about section, h4 */
.layer {
    background-color: white;
    opacity: .8;
    padding: 1rem;
    border-radius: 8px;
}

@media (max-width: 576px) {
    .layer {
        border-radius: 0px;
        opacity: .9;
    }
}

 /* h4 { 
    background-color: white;
    padding: 1rem;
    border-radius: 6px;
    margin-top: 25px;
} */

nav {
    margin: 0;
    padding: 0;
}

h2 {
    font-family: 'Montserrat', 'Karla', sans-serif;
    font-size: 25px;
    letter-spacing: .25em;
}

h4 {
    font-family: 'Montserrat', 'Karla', sans-serif;
    font-weight: 400;
    font-size: 22px;
    letter-spacing: .2em;
    padding-top: 20px;
}

p {
    font-size: 18px;
    font-weight: 100;
}

.card-body a {
    font-weight: 100;
}

.volunteer-div a, .about-div a {
    color: black;
    text-decoration: underline;
}

a:hover, .hover:hover {
    opacity: .5;
    transition: 0.3s ease-in-out;
    text-decoration: none;
}

span {
    font-size: 14px;
}

.about-div p, .volunteer-div p {
    line-height: 1.8;
}
