body {
    font-family: 'Karla', sans-serif;
    scroll-behavior: smooth;
}

:root {
    --background: #efedea;
    --icon-green: #aac2aa;
    --icon-blue: #90A8A6;
    --icon-pink: #caa0a1;
    --icon-orange: #cbaa9e;
}

.background {
    background-color: var(--background);
}

.background-image {
    background: url(/img/gill.jpg);
    background-repeat: no-repeat;
    position: relative;
    background-position: center;
    background-size: cover;
}

.op-city9 {
    opacity: .9;
}

.layer {
    background-color: white;
    opacity: .8;
    padding: 1rem;
    border-radius: 8px;
}

@media (max-width: 576px) {
    .layer {
        border-radius: 0px;
        opacity: .9;
    }
}

nav {
    margin: 0;
    padding: 0;
}

h2 {
    font-family: 'Montserrat', 'Karla', sans-serif;
    font-size: 27px;
    letter-spacing: .2em;
}

p {
    font-size: 18px;
    font-weight: 400;
    /* line-height: 1.8; */
}

.card-body a {
    font-weight: 100;
}

.about-div a {
    text-decoration: underline;
}

.volunteer-div a {
    color: black;
    text-decoration: underline;
}

a:hover {
    transition: .3s .1s;
    opacity: .5;
}

span {
    font-size: 14px;
}

.about-div p, .volunteer-div p {
    line-height: 1.8;
}